
data/mnist/MNIST/raw/train-labels-idx1-ubyte.gz
data/mnist/MNIST/raw/train-labels-idx1-ubyte
data/mnist/MNIST/raw/train-images-idx3-ubyte.gz
data/mnist/MNIST/raw/train-images-idx3-ubyte
data/mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/mnist/MNIST/raw/t10k-labels-idx1-ubyte
data/mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
data/mnist/MNIST/raw/t10k-images-idx3-ubyte
.DS_Store
results/.DS_Store
results/FedAvg_mnist_rounds-10_iid-1_mlp1.npy
results/FedAvg_mnist_rounds-10_iid-1_mlp1.pt
results/FedAvg_mnist_rounds-20_iid-0_cnn2.npy
results/FedAvg_mnist_rounds-20_iid-0_cnn2.pt
results/FedAvg_mnist_rounds-20_iid-0_mlp2.npy
results/FedAvg_mnist_rounds-20_iid-0_mlp2.pt
results/FedAvg_mnist_rounds-30_iid-1_mlp2.npy
results/FedAvg_mnist_rounds-5_iid-1_mlp1.npy
results/FedAvg_mnist_rounds-5_iid-1_mlp1.pt
results/misc/.DS_Store
results/misc/FedAvg_mnist_rounds-10_iid-1_mlp1.npy
results/misc/FedAvg_mnist_rounds-10_iid-1_mlp1.pt
results/misc/FedAvg_mnist_rounds-20_iid-0_cnn2.npy
results/misc/FedAvg_mnist_rounds-20_iid-0_cnn2.pt
results/misc/FedAvg_mnist_rounds-20_iid-0_mlp2.npy
results/misc/FedAvg_mnist_rounds-20_iid-0_mlp2.pt
results/misc/FedAvg_mnist_rounds-30_iid-1_mlp2.npy
results/misc/FedAvg_mnist_rounds-5_iid-1_mlp1.npy
results/misc/FedAvg_mnist_rounds-5_iid-1_mlp1.pt
results/misc/rounds_100/FedAvg_mnist_rounds-100_iid-0_cnn1.npy
results/misc/rounds_100/FedAvg_mnist_rounds-100_iid-0_mlp1.npy
results/misc/rounds_100/FedAvg_mnist_rounds-100_iid-0_resnet1.npy
results/misc/rounds_100/FedAvg_mnist_rounds-100_iid-1_cnn1.npy
results/misc/rounds_100/FedAvg_mnist_rounds-100_iid-1_mlp1.npy
results/misc/rounds_100/FedAvg_mnist_rounds-100_iid-1_resnet1.npy
results/misc/rounds_50/FedAvg_mnist_rounds-50_iid-0_cnn1.npy
results/misc/rounds_50/FedAvg_mnist_rounds-50_iid-0_mlp1.npy
results/misc/rounds_50/FedAvg_mnist_rounds-50_iid-0_resnet1.npy
results/misc/rounds_50/FedAvg_mnist_rounds-50_iid-1_cnn1.npy
results/misc/rounds_50/FedAvg_mnist_rounds-50_iid-1_mlp1.npy
results/misc/rounds_50/FedAvg_mnist_rounds-50_iid-1_resnet1.npy
results/rounds_100/FedAvg_mnist_rounds-100_iid-0_cnn1.npy
results/rounds_100/FedAvg_mnist_rounds-100_iid-0_mlp1.npy
results/rounds_100/FedAvg_mnist_rounds-100_iid-0_resnet1.npy
results/rounds_100/FedAvg_mnist_rounds-100_iid-1_cnn1.npy
results/rounds_100/FedAvg_mnist_rounds-100_iid-1_mlp1.npy
results/rounds_100/FedAvg_mnist_rounds-100_iid-1_resnet1.npy
results/rounds_50/.DS_Store
results/rounds_50/FedAvg_mnist_rounds-50_iid-0_cnn1.npy
results/rounds_50/FedAvg_mnist_rounds-50_iid-0_mlp1.npy
results/rounds_50/FedAvg_mnist_rounds-50_iid-0_resnet1.npy
results/rounds_50/FedAvg_mnist_rounds-50_iid-1_cnn1.npy
results/rounds_50/FedAvg_mnist_rounds-50_iid-1_mlp1.npy
results/rounds_50/FedAvg_mnist_rounds-50_iid-1_resnet1.npy
data/mnist/MNIST/raw/train-labels-idx1-ubyte.gz
data/mnist/MNIST/raw/train-labels-idx1-ubyte
data/mnist/MNIST/raw/train-images-idx3-ubyte.gz
data/mnist/MNIST/raw/train-images-idx3-ubyte
data/mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/mnist/MNIST/raw/t10k-labels-idx1-ubyte
data/mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
data/mnist/MNIST/raw/t10k-images-idx3-ubyte
